body{
    line-height: 1.6;
}

txt-rotate {
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 28px;
    color: rgba(255,255,255,.70);
  }
  
  /* Animation */
  txt-rotate {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
  }

.picture{
    background-image: url("about.jpg");
    width: 1000px;
    height: 1220px;
}
.about h2{
    line-height: 1.8;
    font-size: 50px;
    font-weight: 700;
}
.about{
    position: relative;
}
.about p{
    display: block;
    justify-content: center;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 1rem;
    
        
    
}
.about li{
    font-weight: bold;
    font-size: large;
    margin: 15px ;
    margin-left: 20px;

}
.info{
    font-weight: normal;
    text-align: right;
}
.gap{
    margin-bottom: 35px;
}